<li class="horoscope-vk">
    <a href=
    "https://vk.com/share.php?url=http://horoskop2day.ru"
    target="_blank">Vk</a>
</li>
<li class="horoscope-twitter">
    <a href=
    "https://twitter.com/share?url=http://horoskop2day.ru"
    target="_blank">Twitter</a>
</li>

<li class="horoscope-facebook">
    <a href=
    "http://www.facebook.com/sharer.php?s=100&p[url]=http://horoskop2day.ru&p[title]=Гороскоп на <%= @date %>"
    target="_blank">Facebook</a>
</li>