<li class="horoscope-vk">
    <a href=
    "https://vk.com/share?url=http%3A%2F%2Fnyp.st%2F1Bn0Maj&amp;text=Aquarius+Horoscope+for+9/28/2014&amp;related=nypost"
    target="_blank">Vk</a>
</li>
<li class="horoscope-twitter">
    <a href=
    "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1Bn0Maj&amp;text=Aquarius+Horoscope+for+9/28/2014&amp;related=nypost"
    target="_blank">Twitter</a>
</li>

<li class="horoscope-facebook">
    <a href=
    "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1Bn0Maj&amp;p[title]=Aquarius+Horoscope+for+9/28/2014"
    target="_blank">Facebook</a>
</li>