<header class="entry-header">
    <div class="sign aquarius"></div>

    <h3><a href="#"><%= full_name(znak) %></a></h3>

    <div class="entry-meta">
        <p><%= znak_dates(znak) %></p>
    </div><!-- .entry-meta -->
</header>